<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.ui.cs.mobileprogramming.falya.enlist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_enlist"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_enlist"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.ItemListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ui.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.ui.cs.mobileprogramming.falya.enlist.ui.ItemListActivity" />
        </activity>
    </application>

</manifest>